* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 1vh;
    background: url("Latvia_flag.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content *{
    padding: 10px;
}

.main {
    min-height: 900px;
    background-color: rgba(255, 248, 244, 0.94);
    animation: body-fly cubic-bezier(0, 0, 0, 1.21) 2s;
    font-size: large;
}

.header, .footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(69, 71, 71, 0.9);
    color: white;
    animation: body-fly cubic-bezier(0, 0, 0, 1.21) 2s;
}

.header {
    border-radius: 35px 35px 0px 0px;
    height:80px;
    font-size: 24px;
    text-align: center;
}

.footer {
    border-radius: 0px 0px 35px 35px;
    height: 50px;
    line-height: 26px;
}

#left_footer {
    display: inline-block;
}

#right_footer {
    float: right;
}

#gallery {
    float:right;
    position: sticky;
    top: 0;
    width: 220px;
    height: max-content;
}

.photo {
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

#textt {
    line-height: 1.5;
    margin-right: 320px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color:rgb(0, 129, 129);
}

a:hover {
    color:rgb(58, 179, 179);
}

@keyframes body-fly {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}
